<% flash.each do |type, msg| %>
  <div class="flash-message-div">
    <p class="flash-message-text"><%= msg %></p>
  </div>
<% end %>
<h1>Aman's image sharer app</h1>
<h5 id="tags">Tags: <%= @image.tag_list %></h5>
<%= image_tag @image.url, id: 'show-image' %>
<br/><br/>
<%= link_to "Delete Image", image_path(@image), method: :delete, data: { confirm: "Are you sure?" },
            class: 'show-delete-img' %>
